.inputWrapper {
  margin-bottom: 32px;
}
.input {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.input__list {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 8px rgba(black, .15);
  z-index: 10;
}