.sectionWrapper{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.media {
  height: 300px;
}
.cardContentTitle {
  margin-bottom: 20px !important;
  padding-left: 8px;
}
.cardContentSubTitle {
  padding-left: 16px;
}
.cardContentH4 {
  padding-left: 16px;
}
